<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="com.marwane.dao.DaoImpl"/>
    <bean id="metier" class="com.marwane.metier.MetierImpl">
        <property name="dao" ref="dao"/>
    </bean>
</beans>
